%section.content-wrapper
  .container
    .row
      .col-md-12
        .content-box
          %h3 My Watch List
          .row
            .col-md-12
              .slide-about-people
                - @watchlist.furnitures.each do |furniture|
                  .people-block
                    %figure
                      = image_tag furniture.picture1, size: '300x250'
                    .people-desc
                      %span.people-name
                        = furniture.title
                      %span.people
                        - if furniture.price.to_s.strip != ""
                          = '$' + furniture.price.to_s
                        - else
                          Price N/A
                      %p
                        = furniture.description
                      %span.label.label-info
                        = Geokit::LatLng.new(furniture.latitude, furniture.longitude).distance_to(@currentLocation).round(2).to_s+" miles"
                      %span.label.label-success
                        Posted on:
                        = furniture.created_at.to_time.to_formatted_s(:db).to_s.slice(0, 10)
                      %p
                        = button_to 'unwatch', "/my_watch_list/#{furniture.id}", method: :post, data: { confirm: "Are you sure?" }
