.topslider{:name => "slider"}
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    .carousel-inner
      .item.active.animated.fadeInUp
        = image_tag 'top-slider/slide_1.jpg'
        .caption
          .slider-title.animated.fadeInDown.delay1 NO IDEA WITH YOUR USED FURNITURE?
          .hidden-xs.delay2.slider-desc.animated.fadeIn Try FUrniTURE!!<br> This is the right place to sell and buy used furniture locally.
          .slider-button.animated.fadeInUp.delay3
            -#- if user_sign_in?
            = link_to 'SELL FURNITURE', new_furniture_path
            -#- else
              SELL YOUR FURNITURE
            = link_to 'BUY FURNITURE', furnitures_path
      .item.animated.fadeInUp
        = image_tag 'top-slider/slide_2.jpg'
        .caption
          .slider-title.animated.fadeInDown.delay1 PENNTASTIC FOUR
          .hidden-xs.delay2.slider-desc.animated.fadeIn We are a team of 4 MCIT students at UPenn. <br>Energetic, curious and open-minded, we are ready to ROCK!
          .slider-button.animated.fadeInUp.delay3
            %a{:href => "javascript:;"} ABOUT US
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
      = image_tag 'slide-left.png'
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
      = image_tag 'slide-right.png'

-#:javascript
-#  $(document).ready(function(){
-#    window.location = window.location.href + "#slider";
-#  });
