= form_for @furniture do |f|
  - if @furniture.errors.any?
    #error_explanation
      %h2= "#{pluralize(@furniture.errors.count, "error")} prohibited this furniture from being saved:"
      %ul
        - @furniture.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .row
      .col-md-12
        .col-md-3.text-right
          = f.label :title, "Furniture Name"
        .col-md-6
          = f.text_field :title, {class: "form-control", placeholder: "Furniture Name"}
  .form-group
    .row
      .col-md-12
        .col-md-3.text-right
          = f.label :tag, "Furniture Type"
        .col-md-6
          = f.select :tag, ['Chair', 'Table', 'Bed', 'Sofa', 'Lamp', 'Mattress', 'Microwave', 'Shelf'], {}, {class: "form-control"}
  .form-group
    .row
      .col-md-12
        .col-md-3.text-right
          = f.label :picture1
        .col-md-6
          = f.file_field :picture1
  .form-group
    .row
      .col-md-12
        .col-md-3.text-right
          = f.label :picture2
        .col-md-6
          = f.file_field :picture2
  .form-group
    .row
      .col-md-12
        .col-md-3.text-right
          = f.label :picture3
        .col-md-6
          = f.file_field :picture3
  .form-group
    .row
      .col-md-12
        .col-md-3.text-right
          = f.label :picture4
        .col-md-6
          = f.file_field :picture4
  .form-group
    .row
      .col-md-12
        .col-md-3.text-right
          = f.label :price
        .col-md-6
          = f.text_field :price, {class: "form-control", placeholder: "Propose a price for your furniture"}
  .form-group
    .row
      .col-md-12
        .col-md-3.text-right
          = f.label :oldness
        .col-md-6
          = f.text_field :oldness, {class: "form-control", placeholder: "How Long Did You Use The Furniture?"}
  .form-group
    .row
      .col-md-12
        .col-md-3.text-right
          = f.label :description
        .col-md-6
          = f.text_area :description, {class: "form-control", placeholder: "Give Some Detailed Descriptions About Your Furniture"}
  .row.actions
    .col-md-12.text-center
      = f.submit "POST", class: "btn btn-default"
