= form_for @furniture do |f|
  - if @furniture.errors.any?
    #error_explanation
      %h2= "#{pluralize(@furniture.errors.count, "error")} prohibited this furniture from being saved:"
      %ul
        - @furniture.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :tag
    = f.select :tag, ['chair', 'desk', 'bed', 'shelter']

  .field
    = f.label :picture1
    = f.file_field :picture1
  .field
    = f.label :picture2
    = f.file_field :picture2
  .field
    = f.label :picture3
    = f.file_field :picture3
  .field
    = f.label :picture4
    = f.file_field :picture4
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .actions
    = f.submit 'Save'
