= form_for @furniture do |f|
  - if @furniture.errors.any?
    #error_explanation
      %h2= "#{pluralize(@furniture.errors.count, "error")} prohibited this furniture from being saved:"
      %ul
        - @furniture.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-8
      .field
        = f.label :title
        .row
          .col-md-8
            = f.text_field :title, {class: "form-control", placeholder: "A title for your furniture"}
  %br
  .row
    .col-md-8
      .field
        = f.label :tag, {placeholder: "Select the category of your furniture"}
        = f.select :tag, ['chair', 'desk', 'bed', 'sofa'], {class: "form-control", placeholder: "A title for your furniture"}
  %p
    %strong
      Upload some pictures for your furniture
  .row
    .field
      .col-md-2
        = f.label :picture1
        = f.file_field :picture1
      .col-md-2
        = f.label :picture2
        = f.file_field :picture2
      .col-md-2
        = f.label :picture3
        = f.file_field :picture3
      .col-md-2
        = f.label :picture4
        = f.file_field :picture4
  %br
  .row
    .col-md-8
      .field
        = f.label :price
        .row
          .col-md-8
            = f.text_field :price, {class: "form-control", placeholder: "Propose a price for your furniture"}
  %br
  .row
    .col-md-8
      .field
        = f.label :description
        .row
          .col-md-8
            = f.text_area :description, {class: "form-control", placeholder: "More detailed descrptions about your furniture."}
  %br
  .row
    .col-md-8
      .field
        = f.label :email
        .row
          .col-md-8
            = f.text_field :email, {class: "form-control", placeholder: "Your email address shown to buyers (optional)"}
  %br
  .row
    .col-md-8
      .field
        = f.label :phone
        .row
          .col-md-8
            = f.text_field :phone, {class: "form-control", placeholder: "Your phone number shown to buyers (optional)"}
  %br
  .actions
    = f.submit 'Save'
