%li
  %a{:href => "#{furniture_path(furniture)}"}
    - if furniture.picture1 != nil && furniture.picture1.to_s != ""
      = image_tag furniture.picture1, size: "45x45"
    - else
      = image_tag "aeroplane.png", size: "45x45"
    = furniture.title
  %a{:href => "#{profile_path(furniture.user.profile)}", :float => "right"}
    = furniture.user.name
  %p
    - s = furniture.description.to_s.strip
    - if s.length > 50
      - s = s.slice(0, 50) + "..."
    = s
  %p
    %span.label.label-danger
      - doller = furniture.price.to_s.strip
      - if doller != ""
        = "$" + furniture.price.to_s
      - else
        N/A
    %span.label.label-info
      = furniture.tag
    %span.label.label-primary
      = Geokit::LatLng.new(furniture.latitude, furniture.longitude).distance_to(currentLocation).round(1).to_s+" miles"
    -#  distance
    %span.label.label-success
      = furniture.created_at.to_time.to_formatted_s(:db).to_s.slice(0, 10)