.row
  .col-md-12
    .col-md-8
      .row
        .product-order
          .row
            .col-md-12.text-center
              - if @price == ">$1000"
                = "#{@count} results for #{@tag}!"
              - else
                = "#{@count} results for #{@tag} between $0 and $#{@price}, #{@miles} miles from you!"
          %hr
          %form{:action => "search"}
            .row
              .col-md-12
                .col-md-4
                  %select.form-control{:name => "price"}
                    %option{:value => "5"}$0 - $5
                    %option{:value => "10"}$0 - $10
                    %option{:value => "25"}$0 - $25
                    %option{:value => "50"}$0 - $50
                    %option{:value => "100"}$0 - $100
                    %option{:value => "200"}$0 - $200
                    %option{:value => "500"}$0 - $500
                    %option{:value => "1000"}$0 - $1000
                .col-md-3
                  %select.form-control{:name => "miles"}
                    %option{:value => 1}Within 1 mile
                    %option{:value => 5}Within 5 miles
                    %option{:value => 10}Within 10 miles
                    %option{:value => 30}Within 30 miles
                    %option{:value => 10000}Within than 10000 miles
                .col-md-3
                  %select.form-control{:name => "tag"}
                    %option{:value => "Chair"} Chair
                    %option{:value => "Table"} Table
                    %option{:value => "Bed"} Bed
                    %option{:value => "Sofa"} Sofa
                    %option{:value => "Lamp"} Lamp
                    %option{:value => "Mattress"} Mattress
                    %option{:value => "Microwave"} Microwave
                    %option{:value => "Shelf"} Shelf
                .col-md-2
                  %input.btn.btn-default.form-control{:type => "submit", :value => "Search"}
      %hr
      #map-canvas}
    .col-md-4.scroll-view
      %section.content-wrapper
        .widget-box.sidebar
          %h3.wdgt-title PRODUCT LIST
          %ul.wdgt-product
            -@furnitures.each do |furniture|
              = render 'furniture_brief', furniture: furniture, currentLocation: @currentLocation
%br


-#= content_tag :div, class: "furnitures_class", data: {current: @currentLocation} do end
= content_tag :div, class: "furnitures_class", data: {furnitures: @furnitures, current: @currentLocation, miles: @miles} do end


:javascript
  $(document).ready(function() {
    var currentLocation = $('.furnitures_class').data('current');
    var miles = $('.furnitures_class').data('miles');
    var mapOptions = {
      zoom: RadiusToZoom(miles),
      center: new google.maps.LatLng(currentLocation[0], currentLocation[1])
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var furnitures = $('.furnitures_class').data('furnitures');
    function initialize() {
        var here = new google.maps.Marker({
            position: new google.maps.LatLng(currentLocation[0], currentLocation[1]),
            map: map,
            icon: 'http://library.csun.edu/images/google_maps/marker-blue.png'
        })

        var i;
        for (i = 0; i < furnitures.length; i++) {
            var latlng = new google.maps.LatLng(furnitures[i].latitude, furnitures[i].longitude);
            var title = furnitures[i].title;

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(furnitures[i].latitude, furnitures[i].longitude),
                map: map,
                title: title
            });
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function(){
                    var distance = 3;
                    var pic;
                    if(furnitures[i].picture1 == null) {
                    	pic = "/images/aeroplane.png";
                    } else {
                    	pic = "/uploads/furniture/"+furnitures[i].id+"/picture1.jpg";
                    }
                    var description = "<div><div class='row'><div class='col-md-12'><div class='col-md-12'><a href='/furnitures/" + furnitures[i].id + "'><h3>"+
                                       furnitures[i].title + "</h3></a></div></div></div>" +
                                       "<div class='row'><div class='col-md-12'><div class='col-md-6'><p><span class='label label-danger'>\$" + furnitures[i].price +
                                       "</span><span class='label label-info'>" +furnitures[i].tag +
                                       "</span><span class='label label-success'>" + furnitures[i].created_at.substr(0, 10)
                                       + "</span></p><p>" + furnitures[i].description +
                                       "</p></div><div class='col-md-3'><img alt='Picture1' height='100' src='" + pic + "' width='100' />" + "</div></div></div></div>";
                    new google.maps.InfoWindow({
                        content: description
                    }).open(map, marker);
                }
            })(marker, i));
        }
    }
    function RadiusToZoom(radius){
        if(radius < 1) return 12;
        return Math.round(14-Math.log(radius)/Math.LN2);
    }

    initialize();
    google.maps.event.addDomListener(window, 'load', initialize);
    //google.maps.event.trigger(map, "resize");
  });
