%section.content-wrapper
  .container
    .row
      .col-md-4
        .content-box
          .sp-wrap
            - if @furniture.picture1 != nil && @furniture.picture1 != ""
              %a{:href => @furniture.picture1}
                %img{:alt => "There is no image attached.", :src => @furniture.picture1}
            - else
              %a{:href => image_url("product-1.jpg")}
                %img{:alt => "There is no image attached.", :src => image_url("product-1-h.jpg")}
            - if @furniture.picture2 != nil && @furniture.picture2 != ""
              %a{:href => @furniture.picture2}
                %img{:alt => "There is no image attached.", :src => @furniture.picture2}
            - if @furniture.picture3 != nil && @furniture.picture3 != ""
              %a{:href => @furniture.picture3}
                %img{:alt => "There is no image attached.", :src => @furniture.picture3}
            - if @furniture.picture4 != nil && @furniture.picture4 != ""
              %a{:href => @furniture.picture4}
                %img{:alt => "There is no image attached.", :src => @furniture.picture4}
      .col-md-8
        .content-box
          .product-meta
            %h1.product-title
              = @furniture.title
            %ul.product-breadcrumb
              %li
                %a{:href => "/profiles/#{@furniture.user.profile.id}"}
                  = @furniture.user.name
              %li.current
                %a{:href => "javscript:;"}
                  = @furniture.title
          .product-desc
            .product-price
              .price-new
                Price
                %span
                  = "$" + @furniture.price.to_s

                %a.info.cart{:href => ""}
                  %span.icon>
                    %i.icon-basket
                  = link_to 'Add to Watch List', "/furnitures/#{@furniture.id}", method: :post
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#desc"} Description
              %li
                %a{"data-toggle" => "tab", :href => "#addr"} Address
              %li
                %a{"data-toggle" => "tab", :href => "#addinfo"} Additional Information
            .tab-content.scroll-view
              #desc.tab-pane.fade.in.active
                .row
                  .col-md-2
                    %strong
                      Category:
                  .col-md-2
                    .product-tag
                      .product-tag-content
                        %span
                          = @furniture.tag.to_s
                %p.text-left
                  %strong
                    Description:
                %p.text-left
                  = @furniture.description
                %p.text-left
                  %strong
                    Year:
                %p.text-left
                  = @furniture.oldness.to_s + "years"
                %p.text-left
                  %strong
                    Contact's Email:
                %p.text-left
                  = @furniture.email
                %p.text-left
                  %strong
                    Phone Number:
                %p.text-left
                  = @furniture.phone
              #addr.tab-pane.fade
                %b
                  Address
                - if @furniture.user != nil
                  = @furniture.address
                %br
                %b
                  %p{:style => 'color:red'}
                    = content_tag :div, class: "furniture_class", data: {furniture: @furniture} do end
                #map-location
              #addinfo.tab-pane.fade
                %p
                  %strong{:style => 'color:red'} Additional Information
                %hr/
                %table.product-shop-info
                  %tbody
                    %tr
                      %th Size
                      %td
                        %p Long, Medium, Short
                    %tr
                      %th Colour
                      %td
                        %p Pearl
                    %tr
                      %th Size &amp; Fit
                      %td
                        %p This style comes in a regular fit which fits true to size.
                    %tr
                      %th Other Info
                      %td
                        %p Odio convallis suscipit venenatis, ante ipsum

%section.content-wrapper
  .container
    .row
      .col-md-12
        .box-title
          %h2 YOU MAY ALSO LIKE ...
  .row
    .col-md-12
      -@related_furnitures.each do |furniture|
        .col-md-3.col-xs-6
          .product-block
            .product-image
              %a{:href => "javascript:;"}
                %figure.product-display
                  %span.product-label-special.label
                  %img.product-mainpic{:alt => "", :src => "images/product-1.jpg", :style => "display: block;"}
                    %img.product-secondpic{:alt => "", :src => "images/product-1-h.jpg"}
            .product-meta
              .product-action
                %a.addcart{:href => "javascript:;"}
                  %i.icon-basket
                  Add to WatchList
                %a.wishlist{:href => "javascript:;"}
                  %i.fa.fa-heart
                %a.compare{:href => "#{furniture.user}"}
                  %i.fa.fa-eye
                  = furniture.user
            .product-info
              %a{:href => "javascript:;"}
                %h5.product-name= furniture.title
              .product-price
                %span.newprice== $ #{furniture.price}
            .product-rating
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star


:javascript
  $(document).ready(function() {

    var location = $('.furniture_class').data('furniture');
    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(location.latitude, location.longitude)
    };
    var map;
    function initialize() {
      var here = new google.maps.Marker({
        //position: new google.maps.LatLng(20, 30),
        position: new google.maps.LatLng(location.latitude, location.longitude),
        map: map,
      });
    }
    $("#addr").show(function() {
      map = new google.maps.Map(document.getElementById('map-location'), mapOptions);
      initialize();
      google.maps.event.addDomListener(window, 'load', initialize);
      //google.maps.event.trigger(map, 'resize');
    });

  });
