%section.content-wrapper
  .container
    .row
      .col-md-4
        %br
        .content-box
          .sp-wrap
            - if @furniture.picture1 != nil && @furniture.picture1.to_s.strip != ""
              %a{:href => @furniture.picture1}
                %img{:src => @furniture.picture1}
            - else
              %a{:href => image_url("product-1.jpg")}
                %img{:src => image_url("product-1-h.jpg")}
            - if @furniture.picture2 != nil && @furniture.picture2.to_s.strip != ""
              %a{:href => @furniture.picture2}
                %img{:src => @furniture.picture2}
            - if @furniture.picture3 != nil && @furniture.picture3.to_s.strip != ""
              %a{:href => @furniture.picture3}
                %img{:src => @furniture.picture3}
            - if @furniture.picture4 != nil && @furniture.picture4.to_s.strip != ""
              %a{:href => @furniture.picture4}
                %img{:src => @furniture.picture4}
      .col-md-8
        .content-box
          .product-meta
            %h1.product-title
              = @furniture.title
            %ul.product-breadcrumb
              %li
                %a{:href => "/profiles/#{@furniture.user.profile.id}"}
                  = @furniture.user.name
              %li.current
                %a= @furniture.title
          .product-desc
            .product-price
              .price-new
                Price
                %span
                  = "$" + @furniture.price.to_s
                %a.info.cart{:href => ""}
                  %span.icon>
                    %i.icon-basket
                  = link_to 'Add to Watch List', "/furnitures/#{@furniture.id}", method: :post
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#desc"} Description
              %li
                %a{"data-toggle" => "tab", :href => "#addr"} View On Map
            .tab-content{:style => "height: 500px"}
              #desc.tab-pane.fade.in.active
                .row
                  .col-md-3
                    %h4 Name:
                  .col-md-8.line-break
                    %h4
                      %small= @furniture.title
                .row
                  .col-md-3
                    %h4 Category:
                  .col-md-8.line-break
                    %h4
                      %span.label.label-info= @furniture.tag
                .row
                  .col-md-3
                    %h4 Description:
                  .col-md-8.line-break
                    %h4
                      %small= @furniture.description
                .row
                  .col-md-3
                    %h4 Oldness:
                  .col-md-8.line-break
                    %h4
                      %small= @furniture.oldness
                .row
                  .col-md-3
                    %h4 Contact's Email:
                  .col-md-8.line-break
                    %h4
                      %small= @furniture.email
                .row
                  .col-md-3
                    %h4 Phone Number:
                  .col-md-8.line-break
                    %h4
                      %small= @furniture.phone
              #addr.tab-pane.fade
                %b Address:
                - if @furniture.user != nil
                  = @furniture.address
                %br
                %b
                  %p{:style => 'color:red'}
                #map-location

%section.content-wrapper
  .container
    .row
      .col-md-12
        .box-title
          %h2 YOU MAY ALSO LIKE ...
  .row
    .col-md-12
      -@related_furnitures.each do |furniture|
        .col-md-3.col-xs-6
          .product-block
            .product-image
              %a{:href => "javascript:;"}
                %figure
                  - if furniture.picture1 != nil && furniture.picture1.to_s.strip != ""
                    = image_tag furniture.picture1, size: '300x250'
                  - else
                    = image_tag 'default.jpg', size: "300x250"
            .product-meta
              .product-action
                = link_to '<i class="icon-basket"></i>Add to WatchList'.html_safe, "/furnitures/#{furniture.id}", method: :post, class: "addcart"
                %a.wishlist
                  %i.fa.fa-heart
                %a.compare.span{:href => "#{profile_path(furniture.user.profile)}"}
                  %i.fa.fa-eye
                  = furniture.user.name
            .product-info
              %a{:href => "/furnitures/#{furniture.id}"}
                %h5.product-name= furniture.title
              .product-price
                %span.newprice== $ #{furniture.price}
            .product-rating
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star

= content_tag :div, class: "furniture_class", data: {furniture: @furniture, current: @currentLocation, distance: @distance} do end

:javascript
  $(document).ready(function() {

    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var location = $('.furniture_class').data('furniture');
    var currentLocation = $('.furniture_class').data('current');
    var twoplace = $('.furniture_class').data('distance')
    var mapOptions = {
      zoom: RadiusToZoom(twoplace),
      center: new google.maps.LatLng(location.latitude, location.longitude)
    };
    var map;
    function initialize() {
      //var here = new google.maps.Marker({
      //  position: new google.maps.LatLng(location.latitude, location.longitude),
      //  map: map
      //});
      if(currentLocation != null){
        //var current = new google.maps.Marker({
        //  position: new google.maps.LatLng(currentLocation[0], currentLocation[1]),
        //  map: map,
        //  icon: 'http://library.csun.edu/images/google_maps/marker-blue.png'
        //})
        directionsDisplay = new google.maps.DirectionsRenderer();

        directionsDisplay.setMap(map);

        var request = {
            origin: new google.maps.LatLng(location.latitude, location.longitude),
            destination: new google.maps.LatLng(currentLocation[0], currentLocation[1]),
            travelMode: google.maps.TravelMode.WALKING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }
    }

    function RadiusToZoom(radius){
      if(radius < 1) return 12;
      return Math.round(14-Math.log(radius)/Math.LN2);
    }

    $("#addr").show(function() {
      map = new google.maps.Map(document.getElementById('map-location'), mapOptions);
      initialize();

      //google.maps.event.trigger(map, 'resize');
    });
    google.maps.event.addDomListener(window, 'load', initialize);

  });
