!!!
%html
  %head
    %title FUrniTURE
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp"
    = csrf_meta_tags
  %body
    .outter
      %section.top-block
        .container
          .row
            .col-md-12
              .sel-top
      %section.header
        .container
          .row
            .col-sm-6
              .sitelogo-block
                .logo
                  %a{:href => "javascript:;"}
                    = image_tag 'logo.png'
                .titledesc
                  %h1 FU<small>rni</small>TURE
                  %span Best Used Furniture Trading Platform
            .col-sm-6
              .topinfo-block
                - if user_signed_in?
                  %a.info{:href => ""}
                    %span.icon>
                      %i.icon-money
                    = link_to 'Sell Your Furniture', new_furniture_path
                  -#%a.info{:href => ""}
                  -#  %span.icon>
                  -#    %i.icon-money
                  -#  = link_to 'View your post',
                  %a.info.login{:href => ""}
                    %span.icon>
                      %i.icon-lock
                    = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
                  %a.info.login{:href => ""}
                    %span.icon>
                      %i.icon-lock
                    = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
                  %a.info.cart{:href => ""}
                    %span.icon>
                      %i.icon-basket
                    = link_to 'Watch List', watchlists_path
                - else
                  %a.info.login{:href => "login.html"}
                    %span.icon>
                      %i.icon-lock
                    = link_to "Login", new_user_session_path, :class => 'navbar-link'
                  %a.info.login{:href => "login.html"}
                    %span.icon>
                      %i.icon-lock
                    = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      %hr
      = yield